* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0e0d12;
  }

  #moviesForm {
    width: 400px;
    background: #343a40;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
  }
  
  #moviesForm h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  #moviesForm p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  #moviesForm a {
    color: white;
    text-decoration: none;
  }
  
  #moviesForm a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #moviesForm .botons {
    width: 100%;
    background: #343a40;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 12px;
    color: white;
    margin: 8px 0px 8px 0px;
    font-size: 16px;

  }

  .genreCheckbox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .genreCheckbox label {
    margin: 0;
    flex-basis: 100px;
    box-sizing: border-box;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    text-align:center
}